@charset "UTF-8";
:root {
    --primary-color: #061738;
    --secondary-color: #eb3349;
    --yellow-color: #ffc107;
    --text-gray-color: #606060;
    --white-color: #ffffff;
    --ofwhite-color: #f2f2f2;
    --black-color: #000000;
    --light-color: #fcfcfc;
    --light-color2: #aaaaaa;
    --dark-color: #242424;
    --sky-color: #647589;
    --border-color: #e7e7e7;
    --border-color2: #e4e4e4;
    --border-color3: #dddddd;
    --border-dark: #383434;
    --bg-gray-color: #fcfcfc;
    --gray-color: #fafbfe;
    --gray-color2: #f5f5f5;
    --container-fluid-offset: 19rem;
}
@media only screen and (min-width: 576px) {
    .h1,
    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}
@media only screen and (min-width: 768px) {
    .h1,
    h1 {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }
}
@media only screen and (min-width: 992px) {
    .h1,
    h1 {
        font-size: 3.8rem;
        line-height: 4.5rem;
    }
}
@media only screen and (min-width: 1200px) {
    .h1,
    h1 {
        font-size: 4.2rem;
        line-height: 5rem;
    }
}
@media only screen and (min-width: 1366px) {
    .h1,
    h1 {
        font-size: 4.5rem;
        line-height: 5.3rem;
    }
}
@media only screen and (min-width: 1600px) {
    .h1,
    h1 {
        font-size: 5.5rem;
        line-height: 6.5rem;
    }
}
.h2,
h2 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 700;
}
@media only screen and (min-width: 768px) {
    .h2,
    h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}
@media only screen and (min-width: 1200px) {
    .h2,
    h2 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}
@media only screen and (min-width: 1600px) {
    .h2,
    h2 {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}
.h3,
h3 {
    font-size: 1.7rem;
    line-height: 2.4rem;
}
@media only screen and (min-width: 768px) {
    .h3,
    h3 {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
}
@media only screen and (min-width: 992px) {
    .h3,
    h3 {
        font-size: 2rem;
        line-height: 2.7rem;
    }
}
@media only screen and (min-width: 1200px) {
    .h3,
    h3 {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
}
@media only screen and (min-width: 1600px) {
    .h3,
    h3 {
        font-size: 2.4rem;
        line-height: 3rem;
    }
}
.h4,
h4 {
    font-size: 1.5rem;
    font-weight: 600;
}
@media only screen and (min-width: 992px) {
    .h4,
    h4 {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
}
.h5,
h5 {
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 400;
}
@media only screen and (min-width: 768px) {
    .h5,
    h5 {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
}
.h6,
h6 {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
}
@media only screen and (min-width: 768px) {
    .h6,
    h6 {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
}
p {
    margin-top: 0;
    margin-bottom: 1.8rem;
    color: var(--text-gray-color);
}
@media only screen and (max-width: 767px) {
    p {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}
p:last-child {
    margin-bottom: 0;
}
a,
button {
    display: inline-block;
    cursor: pointer;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    text-decoration: none;
    color: inherit;
}
a,
button,
img,
input,
textarea {
    -webkit-transition: var(--transition);
    transition: var(--transition);
}
:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:focus {
    text-decoration: none;
    outline: 0;
}
a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}
button,
input[type="submit"] {
    cursor: pointer;
    font-family: var(--font-lato);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
}
input[type="number"] {
    -moz-appearance: textfield;
}
img {
    max-width: 100%;
    height: auto;
}
span {
    display: inline-block;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
}
ul {
    margin: 0;
    padding: 0;
}
ul:last-child {
    margin-bottom: 0;
}
li {
    list-style: none;
    line-height: 1;
}
.container,
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.container-fluid {
    --offset-fluid: 1.5rem;
    padding-right: var(--offset-fluid);
    padding-left: var(--offset-fluid);
}
@media only screen and (min-width: 992px) {
    .container-fluid {
        --offset-fluid: 3rem;
    }
}
@media only screen and (min-width: 1366px) {
    .container-fluid {
        --offset-fluid: calc(var(--container-fluid-offset) / 4.5);
    }
}
@media only screen and (min-width: 1600px) {
    .container-fluid {
        --offset-fluid: calc(var(--container-fluid-offset) / 2.5);
    }
}
@media only screen and (min-width: 1800px) {
    .container-fluid {
        --offset-fluid: var(--container-fluid-offset);
    }
}
.container-fluid-2 {
    --offset-fluid: 1.5rem;
    padding-right: var(--offset-fluid);
    padding-left: var(--offset-fluid);
}
@media only screen and (min-width: 992px) {
    .container-fluid-2 {
        --offset-fluid: 3rem;
    }
}
@media only screen and (min-width: 1366px) {
    .container-fluid-2 {
        --offset-fluid: 4.5rem;
    }
}
@media only screen and (min-width: 1500px) {
    .container-fluid-2 {
        --offset-fluid: 5rem;
    }
}
@media only screen and (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}
.row {
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-bottom: var(--bs-gutter-y);
}
.col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}
.row-cols-1 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}
.row-cols-2 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}
.row-cols-3 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
}
.row-cols-4 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
}
.row-cols-5 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20%;
}
.row-cols-6 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
}
@media only screen and (min-width: 576px) {
    .col-sm {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
    .row-cols-sm-1 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
    .row-cols-sm-2 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .row-cols-sm-3 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .row-cols-sm-4 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
    .row-cols-sm-5 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%;
    }
    .row-cols-sm-6 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
}
@media only screen and (min-width: 480px) {
    .row-cols-sm-u-2 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
}
@media only screen and (min-width: 768px) {
    .col-md {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
    .row-cols-md-1 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
    .row-cols-md-2 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .row-cols-md-3 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .row-cols-md-4 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
    .row-cols-md-5 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%;
    }
    .row-cols-md-6 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
}
@media only screen and (min-width: 992px) {
    .col-lg {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
    .row-cols-lg-1 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
    .row-cols-lg-2 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .row-cols-lg-3 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .row-cols-lg-4 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
    .row-cols-lg-5 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%;
    }
    .row-cols-lg-6 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
}
@media only screen and (min-width: 1200px) {
    .col-xl {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
    .row-cols-xl-1 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
    .row-cols-xl-2 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .row-cols-xl-3 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .row-cols-xl-4 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
    .row-cols-xl-5 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%;
    }
    .row-cols-xl-6 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
}
@media only screen and (min-width: 1600px) {
    .col-xxl {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
    .row-cols-xxl-1 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
    .row-cols-xxl-2 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .row-cols-xxl-3 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .row-cols-xxl-4 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
    .row-cols-xxl-5 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 20%;
    }
    .row-cols-xxl-6 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
}
.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333333%;
}
.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66666667%;
}
.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
}
.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
}
.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66666667%;
}
.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}
.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333333%;
}
.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
}
.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
}
.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
}
.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66666667%;
}
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}
@media only screen and (min-width: 576px) {
    .col-sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .col-sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }
    .col-sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-sm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }
    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}
@media only screen and (min-width: 992px) {
    .col-lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }
    .col-lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-lg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}
@media only screen and (min-width: 1200px) {
    .col-xl-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-xl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xl-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-xl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xl-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xl-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-xl-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xl-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xl-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-xl-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}
@media only screen and (min-width: 1400px) {
    .col-xxl-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-xxl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-xxl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xxl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xxl-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-xxl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xxl-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xxl-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-xxl-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xxl-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xxl-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-xxl-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    .row > * {
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media only screen and (max-width: 479px) {
    .row {
        margin-right: -8px;
        margin-left: -8px;
    }
    .row > * {
        padding-right: 8px;
        padding-left: 8px;
    }
}
.display-block {
    display: block;
}
@media only screen and (min-width: 1200px) {
    .d-xl-block {
        display: block !important;
    }
    .d-xl-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media only screen and (min-width: 992px) {
    .d-lg-block {
        display: block !important;
    }
    .d-lg-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}
@media only screen and (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
    .d-md-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media only screen and (max-width: 991px) {
    .d-md-2-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media only screen and (max-width: 767px) {
    .d-sm-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media only screen and (max-width: 575px) {
    .d-sm-2-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important;
}
.section__heading--maintitle {
    position: relative;
    padding-bottom: 2rem;
}
.section__heading--maintitle::before {
    position: absolute;
    content: "";
    background: url(../img/other/heading-shape.png);
    width: 174px;
    height: 5px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
}
.section__heading--maintitle.style2::before {
    width: 13rem;
    height: 0.2rem;
    background: var(--secondary-color);
}
.primary__btn {
    font-size: 1.4rem;
    font-weight: var(--body-line-height);
    line-height: 3.5rem;
    display: inline-block;
    height: 3.5rem;
    padding: 0 1.8rem;
    letter-spacing: 0.2px;
    border-radius: 0.3rem;
    background: var(--secondary-color);
    color: var(--white-color);
    border: 0;
}
.primary__btn:hover {
    background: var(--primary-color);
    color: var(--white-color);
}
@media only screen and (min-width: 768px) {
    .primary__btn {
        font-size: 1.5rem;
        line-height: 4rem;
        height: 4rem;
        padding: 0 2rem;
    }
}
@media only screen and (min-width: 992px) {
    .primary__btn {
        font-size: 1.6rem;
        line-height: 4.5rem;
        height: 4.5rem;
    }
}
@media only screen and (min-width: 1200px) {
    .primary__btn {
        font-size: 1.7rem;
        line-height: 4.8rem;
        height: 4.8rem;
        padding: 0 2.3rem;
    }
}
@media only screen and (min-width: 1600px) {
    .primary__btn {
        font-size: 1.8rem;
        line-height: 5.2rem;
        height: 5.2rem;
        padding: 0 2.5rem;
    }
}
label {
    display: block;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-white {
    color: var(--white-color);
}
.bg__primary {
    background: var(--primary-color);
}
.bg__white {
    background: var(--white-color);
}
.text__primary {
    color: var(--primary-color);
}
.border {
    border: 1px solid var(--border-color);
}
.border-0 {
    border: none;
}
.border-radius-5 {
    border-radius: 0.5rem;
}
.border-radius-10 {
    border-radius: 1rem;
}
.border-radius-50 {
    border-radius: 50%;
}
.width-100 {
    width: 100%;
}
@media only screen and (max-width: 991px) {
    .md-width-100 {
        width: 100%;
    }
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.section--padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
@media only screen and (min-width: 768px) {
    .section--padding {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
}
@media only screen and (min-width: 992px) {
    .section--padding {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}
@media only screen and (min-width: 1200px) {
    .section--padding {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
}
.p-0 {
    padding: 0;
}
.pt-0 {
    padding-top: 0;
}
.m-0 {
    margin: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-60 {
    margin-bottom: 3.5rem;
}
@media only screen and (min-width: 768px) {
    .mb-60 {
        margin-bottom: 4rem;
    }
}
@media only screen and (min-width: 992px) {
    .mb-60 {
        margin-bottom: 6rem;
    }
}
.mb-55 {
    margin-bottom: 3.5rem;
}
@media only screen and (min-width: 992px) {
    .mb-55 {
        margin-bottom: 5.5rem;
    }
}
.mb-50 {
    margin-bottom: 2.8rem;
}
@media only screen and (min-width: 768px) {
    .mb-50 {
        margin-bottom: 3rem;
    }
}
@media only screen and (min-width: 1200px) {
    .mb-50 {
        margin-bottom: 4rem;
    }
}
@media only screen and (min-width: 1600px) {
    .mb-50 {
        margin-bottom: 5rem;
    }
}
.mb-40 {
    margin-bottom: 2.5rem;
}
@media only screen and (min-width: 992px) {
    .mb-40 {
        margin-bottom: 3rem;
    }
}
@media only screen and (min-width: 1600px) {
    .mb-40 {
        margin-bottom: 4rem;
    }
}
.mb--n40 {
    margin-bottom: -2.5rem;
}
@media only screen and (min-width: 992px) {
    .mb--n40 {
        margin-bottom: -2rem;
    }
}
@media only screen and (min-width: 1600px) {
    .mb--n40 {
        margin-bottom: -4rem;
    }
}
.mb-35 {
    margin-bottom: 2rem;
}
@media only screen and (min-width: 1200px) {
    .mb-35 {
        margin-bottom: 2.5rem;
    }
}
@media only screen and (min-width: 1200px) {
    .mb-35 {
        margin-bottom: 3rem;
    }
}
@media only screen and (min-width: 1600px) {
    .mb-35 {
        margin-bottom: 3.5rem;
    }
}
.mb-30 {
    margin-bottom: 2.5rem;
}
@media only screen and (min-width: 1366px) {
    .mb-30 {
        margin-bottom: 3rem;
    }
}
.mb--n30 {
    margin-bottom: -2.5rem;
}
@media only screen and (min-width: 1366px) {
    .mb--n30 {
        margin-bottom: -3rem;
    }
}
.mb-28 {
    margin-bottom: 2.8rem;
}
.mb--n28 {
    margin-bottom: -2.8rem;
}
.mb-25 {
    margin-bottom: 1.8rem;
}
@media only screen and (min-width: 992px) {
    .mb-25 {
        margin-bottom: 2.5rem;
    }
}
.mb-20 {
    margin-bottom: 1.5rem;
}
@media only screen and (min-width: 768px) {
    .mb-20 {
        margin-bottom: 2rem;
    }
}
.mb-15 {
    margin-bottom: 1rem;
}
@media only screen and (min-width: 1200px) {
    .mb-15 {
        margin-bottom: 1.5rem;
    }
}
.mb-12 {
    margin-bottom: 1rem;
}
@media only screen and (min-width: 992px) {
    .mb-12 {
        margin-bottom: 1.2rem;
    }
}
.mb-10 {
    margin-bottom: 0.8rem;
}
@media only screen and (min-width: 992px) {
    .mb-10 {
        margin-bottom: 1rem;
    }
}
.mb-8 {
    margin-bottom: 0.8rem;
}
.mb-5 {
    margin-bottom: 0.5rem;
}
.header__topbar {
    padding: 1rem 0;
}
@media only screen and (min-width: 992px) {
    .header__topbar {
        padding: 1.2rem 0;
    }
}
@media only screen and (min-width: 1600px) {
    .header__topbar {
        padding: 1.7rem 0;
    }
}
@media only screen and (max-width: 991px) {
    .header__topbar--inner {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}
@media only screen and (max-width: 575px) {
    .header__shipping--wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.header__shipping--text {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-right: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}
@media only screen and (max-width: 767px) {
    .header__shipping--text {
        text-align: center;
    }
}
@media only screen and (min-width: 992px) {
    .header__shipping--text {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}
@media only screen and (max-width: 575px) {
    .header__shipping--text {
        margin-right: 0;
        padding-right: 0;
    }
    .header__shipping--text:last-child {
        margin-bottom: 0;
    }
}
.header__shipping--text:last-child {
    margin-right: 0;
    padding-right: 0;
}
.header__shipping--text:last-child::before {
    display: none;
}
.header__shipping--text::before {
    position: absolute;
    content: "";
    width: 0.1rem;
    height: 100%;
    background: var(--white-color);
    right: 0;
    top: 50%;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
}
@media only screen and (max-width: 575px) {
    .header__shipping--text::before {
        display: none;
    }
}
.header__shipping--text__icon {
    margin-right: 0.5rem;
}
.header__shipping--text__link:hover {
    color: var(--primary-color);
}
.header__menu--items {
    margin-right: 3rem;
    position: relative;
}
@media only screen and (min-width: 992px) {
    .header__menu--items {
        margin-right: 2.5rem;
    }
}
@media only screen and (min-width: 1200px) {
    .header__menu--items {
        margin-right: 3rem;
    }
}
@media only screen and (min-width: 1366px) {
    .header__menu--items {
        margin-right: 4rem;
    }
}
@media only screen and (min-width: 1600px) {
    .header__menu--items {
        margin-right: 6rem;
    }
}
.header__menu--items:last-child {
    margin-right: 0;
}
.header__menu--items.style2 {
    margin-right: 2rem;
}
@media only screen and (min-width: 992px) {
    .header__menu--items.style2 {
        margin-right: 2.5rem;
    }
}
@media only screen and (min-width: 1200px) {
    .header__menu--items.style2 {
        margin-right: 3rem;
    }
}
@media only screen and (min-width: 1366px) {
    .header__menu--items.style2 {
        margin-right: 3.5rem;
    }
}
@media only screen and (min-width: 1600px) {
    .header__menu--items.style2 {
        margin-right: 5rem;
    }
}
.header__menu--items:hover .header__menu--link {
    color: var(--secondary-color);
}
.header__menu--link {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding: 16px 0;
    color: var(--text-gray-color);
}
@media only screen and (min-width: 1200px) {
    .header__menu--link {
        font-size: 1.7rem;
        padding: 16px 0;
    }
}
@media only screen and (min-width: 1600px) {
    .header__menu--link {
        padding: 20px 0;
    }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.header__topbar--style3 {
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-color);
}
.header__social--list {
    margin-right: 1.8rem;
}
.header__social--list:last-child {
    margin-right: 0;
}
.header__menu--items.style3 {
    margin-right: 1.8rem;
}
@media only screen and (min-width: 992px) {
    .header__menu--items.style3 {
        margin-right: 2rem;
    }
}
@media only screen and (min-width: 1200px) {
    .header__menu--items.style3 {
        margin-right: 2.5rem;
    }
}
@media only screen and (min-width: 1366px) {
    .header__menu--items.style3 {
        margin-right: 2rem;
    }
}
@media only screen and (min-width: 1600px) {
    .header__menu--items.style3 {
        margin-right: 3rem;
    }
}
.header__menu--items.style3:last-child {
    margin-right: 0;
}
@media only screen and (min-width: 768px) {
    .header__topbar--inner.style3 {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
@-webkit-keyframes animate {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    40% {
        -webkit-box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
        box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
    }
    80% {
        -webkit-box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
        box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 rgba(255, 193, 7, 0);
        box-shadow: 0 0 0 rgba(255, 193, 7, 0);
    }
}
@keyframes animate {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    40% {
        -webkit-box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
        box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
    }
    80% {
        -webkit-box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
        box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 rgba(255, 193, 7, 0);
        box-shadow: 0 0 0 rgba(255, 193, 7, 0);
    }
}
.blog__items:hover .blog__thumbnail--img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.blog__thumbnail {
    overflow: hidden;
}
.blog__thumbnail--link {
    width: 100%;
    display: block;
}
.blog__thumbnail--img {
    width: 100%;
    display: block;
}
.blog__content {
    padding-top: 1.2rem;
}
.blog__content--meta {
    color: var(--text-gray-color);
    line-height: 2.4rem;
    margin-bottom: 0.9rem;
}
.blog__content--title {
    margin-bottom: 1.5rem;
}
@media only screen and (min-width: 992px) {
    .blog__content--title {
        font-size: 1.8rem;
        margin-bottom: 1.8rem;
    }
}
@media only screen and (min-width: 1200px) {
    .blog__content--title {
        line-height: 3rem;
        margin-bottom: 2rem;
    }
}
@media only screen and (min-width: 1366px) {
    .blog__content--title {
        font-size: 1.9rem;
        line-height: 2.7rem;
    }
}
@media only screen and (min-width: 1600px) {
    .blog__content--title {
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin-bottom: 2.3rem;
    }
}
@media only screen and (min-width: 1200px) {
    .blog__content--title.style2 {
        font-size: 1.7rem;
        line-height: 2.7rem;
    }
}
@media only screen and (min-width: 1600px) {
    .blog__content--title.style2 {
        font-size: 1.8rem;
        line-height: 3rem;
    }
}
.blog__content--btn {
    background: var(--white-color);
    border: 1px solid var(--border-color);
    color: var(--text-gray-color);
    line-height: 3.3rem;
}
@media only screen and (min-width: 768px) {
    .blog__content--btn {
        line-height: 3.8rem;
    }
}
@media only screen and (min-width: 992px) {
    .blog__content--btn {
        padding: 0 3rem;
        line-height: 4.3rem;
    }
}
@media only screen and (min-width: 1200px) {
    .blog__content--btn {
        padding: 0 3rem;
        line-height: 4.2rem;
        height: 4.4rem;
    }
}
.blog__content--btn:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white-color);
}
.blog__content--btn.style2 {
    color: var(--white-color);
    background: var(--black-color) !important;
    border: 0;
}
@media only screen and (min-width: 992px) {
    .blog__content--btn.style2 {
        padding: 0 3rem;
        height: 4.3rem;
        line-height: 4.3rem;
    }
}
@media only screen and (min-width: 1600px) {
    .blog__content--btn.style2 {
        padding: 0 4rem;
        height: 4.8rem;
        line-height: 4.8rem;
    }
}
.blog__content--btn.style2:hover {
    background: var(--secondary-color) !important;
}
.blog__content.style2 {
    background: var(--white-color);
    position: relative;
}
@media only screen and (min-width: 1200px) {
    .blog__content.style2 {
        margin-left: 2.5rem;
        padding: 1.8rem;
        margin-top: -5.5rem;
    }
}
@media only screen and (min-width: 1600px) {
    .blog__content.style2 {
        margin-left: 5.5rem;
        padding: 1.8rem;
        margin-top: -5.5rem;
    }
}
@media only screen and (max-width: 767px) {
    .shipping__section.section--padding {
        padding-bottom: 5.5rem;
    }
}
@media only screen and (max-width: 991px) {
    .shipping__section--inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.shipping__items {
    padding: 0 20px;
    position: relative;
}
@media only screen and (max-width: 991px) {
    .shipping__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 15px;
        margin-bottom: 27px;
    }
}
@media only screen and (min-width: 768px) {
    .shipping__items {
        width: 50%;
    }
}
@media only screen and (min-width: 992px) {
    .shipping__items {
        width: 25%;
    }
    .shipping__items::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        background: #aeaebf;
        right: 0;
        top: 0;
        opacity: 0.25;
    }
}
.shipping__items:last-child::before {
    display: none;
}
.shipping__items:hover .shipping__items--icon {
    background: var(--primary-color);
    opacity: 0.67;
    color: var(--white-color);
    border-color: var(--primary-color);
}
.shipping__items--icon {
    width: 5rem;
    height: 5rem;
    line-height: 5.3rem;
    padding: 5px 9px;
    text-align: center;
    border: 1px solid rgba(174, 174, 191, 0.2);
    background: var(--white-color);
    border-radius: 50%;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}
@media only screen and (min-width: 992px) {
    .shipping__items--icon {
        width: 5.5rem;
        height: 5.5rem;
        line-height: 5.1rem;
        padding: 8px 12px;
        margin: 0 auto 20px;
    }
}
.shipping__items--icon svg {
    width: 25px;
}
@media only screen and (min-width: 992px) {
    .shipping__items--icon svg {
        width: 32px;
    }
}
@media only screen and (max-width: 991px) {
    .shipping__items--content {
        text-align: left !important;
        padding-left: 20px;
    }
}
.shipping__items--title {
    margin-bottom: 8px;
}
@media only screen and (min-width: 992px) {
    .shipping__items--title {
        font-size: 2.2rem;
        line-height: 2.6rem;
        margin-bottom: 10px;
    }
}
.shipping__items--desc {
    color: var(--sky-color);
    font-size: 1.5rem;
}
@media only screen and (min-width: 1200px) {
    .shipping__items--desc {
        font-size: 1.6rem;
    }
}
.shipping__section2--inner {
    -webkit-box-shadow: 0 -4px 27px rgba(62, 70, 120, 0.16);
    box-shadow: 0 -4px 27px rgba(62, 70, 120, 0.16);
    padding: 30px 20px;
    background: var(--white-color);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .shipping__section2--inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 30px 20px 5px;
    }
}
@media only screen and (min-width: 992px) {
    .shipping__section2--inner {
        padding: 35px 25px;
    }
}
@media only screen and (min-width: 1200px) {
    .shipping__section2--inner {
        padding: 35px 65px;
    }
}
.shipping__items2 {
    margin-right: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shipping__items2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    .shipping__items2 {
        margin-bottom: 25px;
        margin-right: 0;
        width: 50%;
    }
}
@media only screen and (max-width: 450px) {
    .shipping__items2 {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.shipping__items2:last-child {
    margin-right: 0;
}
.shipping__items2--content {
    padding-left: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shipping__items2--content {
        padding-left: 0;
    }
}
@media only screen and (max-width: 450px) {
    .shipping__items2--content {
        padding-left: 20px;
    }
}
.shipping__items2--content__title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 700;
    margin-bottom: 5px;
}
@media only screen and (min-width: 1200px) {
    .shipping__items2--content__title {
        font-size: 1.8rem;
    }
}
.shipping__items2--content__desc {
    font-size: 1.2rem;
    color: var(--sky-color);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shipping__items2--icon {
        margin-bottom: 1.5rem;
    }
}
.shipping__items2--icon img {
    display: block;
}
@media only screen and (max-width: 575px) {
    .shipping__items2--icon img {
        width: 4rem;
    }
}
.shipping__style3--items {
    position: relative;
    margin-right: 10rem;
    padding-right: 10rem;
}
@media only screen and (min-width: 992px) {
    .shipping__style3--items {
        margin-right: 2rem;
        padding-right: 2rem;
        width: 25%;
    }
}
@media only screen and (min-width: 1200px) {
    .shipping__style3--items {
        margin-right: 4rem;
        padding-right: 4rem;
        width: auto;
    }
}
@media only screen and (min-width: 1366px) {
    .shipping__style3--items {
        margin-right: 6rem;
        padding-right: 6rem;
    }
}
@media only screen and (min-width: 1600px) {
    .shipping__style3--items {
        margin-right: 10rem;
        padding-right: 10rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shipping__style3--items {
        margin-right: 2rem;
        padding-right: 2rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .shipping__style3--items::before {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .shipping__style3--items {
        margin-right: 0;
        padding-right: 0;
        width: 50%;
        margin-bottom: 2.5rem;
    }
    .shipping__style3--items::before {
        display: none;
    }
}
@media only screen and (max-width: 479px) {
    .shipping__style3--items {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.shipping__style3--items:last-child {
    margin-right: 0;
    padding-right: 0;
}
.shipping__style3--items:last-child::before {
    display: none;
}
.shipping__style3--items::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background: var(--border-color);
    right: 0;
    top: 0;
}
.shipping__style3--icon {
    color: var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shipping__style3--icon {
        margin-bottom: 1.5rem;
    }
}
.shipping__style3--content {
    padding-left: 1.5rem;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shipping__style3--content {
        padding-left: 0;
    }
}
.shipping__style3--content__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}
@media only screen and (min-width: 1200px) {
    .shipping__style3--content__title {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 0.8rem;
    }
}
.shipping__style3--content__desc {
    line-height: 2rem;
    font-size: 1.5rem;
}
@media only screen and (min-width: 1200px) {
    .shipping__style3--content__desc {
        font-size: 1.6rem;
    }
}
.shipping__style3--inner {
    -webkit-box-shadow: 0 -4px 27px rgba(62, 70, 120, 0.16);
    box-shadow: 0 -4px 27px rgba(62, 70, 120, 0.16);
    padding: 2.5rem 2rem;
    background: var(--white-color);
}
@media only screen and (min-width: 1200px) {
    .shipping__style3--inner {
        padding: 3.5rem;
    }
}
@media only screen and (max-width: 767px) {
    .shipping__style3--inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 2.5rem 1.5rem 0;
    }
}
.social__title {
    font-size: 1.8rem;
    font-weight: 400;
}
.breadcrumb__bg {
    background: url(../img/banner/breadcrumb-bg.png);
    background-repeat: no-repeat;
    height: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
@media only screen and (min-width: 480px) {
    .breadcrumb__bg {
        height: 150px;
    }
}
@media only screen and (min-width: 576px) {
    .breadcrumb__bg {
        height: 170px;
    }
}
@media only screen and (min-width: 768px) {
    .breadcrumb__bg {
        height: 190px;
    }
}
@media only screen and (min-width: 992px) {
    .breadcrumb__bg {
        height: 220px;
    }
}
@media only screen and (min-width: 1200px) {
    .breadcrumb__bg {
        height: 270px;
    }
}
@media only screen and (min-width: 1600px) {
    .breadcrumb__bg {
        height: 300px;
    }
}
@media only screen and (max-width: 1600px) {
    .breadcrumb__bg {
        background-position: center center;
        background-size: cover;
    }
}
.breadcrumb__content {
    position: relative;
}
.breadcrumb__content--title.mb-25 {
    margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
    .breadcrumb__content--title.mb-25 {
        margin-bottom: 18px;
    }
}
@media only screen and (min-width: 992px) {
    .breadcrumb__content--title.mb-25 {
        margin-bottom: 20px;
    }
}
.breadcrumb__content--menu__items {
    position: relative;
    margin-right: 20px;
    padding-right: 22px;
    font-size: 16px;
    line-height: 24px;
}
@media only screen and (min-width: 768px) {
    .breadcrumb__content--menu__items {
        font-size: 18px;
    }
}
.breadcrumb__content--menu__items:last-child {
    margin-right: 0;
    padding-right: 0;
}
.breadcrumb__content--menu__items:last-child::before {
    display: none;
}
.breadcrumb__content--menu__items::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 20px;
    background: var(--secondary-color);
    right: 0;
    top: 4px;
    border-radius: 5px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.reviews__comment--area {
    padding: 0 2rem;
    margin-bottom: 3rem;
}
@media only screen and (max-width: 767px) {
    .reviews__comment--area {
        padding: 0;
        margin-bottom: 2rem;
    }
}
@media only screen and (max-width: 1199px) {
    .reviews__comment--area.style2 {
        padding: 0;
    }
}
.reviews__comment--thumb {
    width: 100px;
}
@media only screen and (max-width: 575px) {
    .reviews__comment--thumb {
        margin-bottom: 1.5rem;
    }
}
.reviews__comment--content {
    width: 100%;
    position: relative;
}
@media only screen and (min-width: 576px) {
    .reviews__comment--content {
        width: calc(100% - 100px);
        padding-left: 2rem;
    }
}
.reviews__comment--content__date {
    border: 1px solid var(--border-color2);
    padding: 0 0.6rem;
    border-radius: 5px;
    height: 3.8rem;
    line-height: 3.6rem;
    font-size: 1.3rem;
}
@media only screen and (min-width: 576px) {
    .reviews__comment--content__date {
        padding: 0 0.8rem;
        height: 4rem;
        line-height: 3.8rem;
        font-size: 1.4rem;
    }
}
@media only screen and (min-width: 768px) {
    .reviews__comment--content__date {
        padding: 0 1rem;
        height: 4.2rem;
        line-height: 4rem;
        font-size: 1.5rem;
    }
}
.reviews__comment--content__title {
    font-weight: 600;
    margin-bottom: 0.8rem;
}
.reviews__comment--content__desc {
    margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
    .reviews__comment--content__desc {
        font-size: 1.5rem;
        line-height: 2.8rem;
    }
}
.reviews__comment--list {
    border-bottom: 1px solid var(--border-color2);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.reviews__comment--list:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}
@media only screen and (min-width: 768px) {
    .reviews__comment--list {
        padding-bottom: 2.5rem;
        margin-bottom: 2.5rem;
    }
}
@media only screen and (max-width: 575px) {
    .reviews__comment--list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media only screen and (min-width: 992px) {
    .reviews__comment--reply__title {
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
}
@media only screen and (max-width: 575px) {
    .reviews__comment--reply__title {
        text-align: center;
    }
}
.reviews__comment--reply__textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 1.2rem 1.5rem;
    border: 1px solid var(--border-color2);
    border-radius: 0.5rem;
}
@media only screen and (min-width: 768px) {
    .reviews__comment--reply__textarea {
        height: 150px;
    }
}
@media only screen and (min-width: 992px) {
    .reviews__comment--reply__textarea {
        font-size: 1.5rem;
    }
}
.reviews__comment--reply__textarea:focus {
    border-color: var(--secondary-color);
}
.reviews__comment--reply__input {
    width: 100%;
    border: 1px solid var(--border-color2);
    height: 5rem;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
}
@media only screen and (min-width: 992px) {
    .reviews__comment--reply__input {
        font-size: 1.5rem;
    }
}
.reviews__comment--reply__input:focus {
    border-color: var(--secondary-color);
}
.reviews__comment--btn {
    font-size: 1.5rem;
    line-height: 4rem;
    height: 4rem;
}
.blog__post--header.mb-30 {
    margin-bottom: 2.5rem;
}
@media only screen and (min-width: 992px) {
    .post__header--title {
        line-height: 3rem;
        font-size: 2.5rem;
    }
}
@media only screen and (min-width: 1200px) {
    .post__header--title {
        line-height: 3.5rem;
        font-size: 3rem;
    }
}
@media only screen and (min-width: 1600px) {
    .post__header--title {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}
.blog__post--meta {
    text-transform: capitalize;
}
@media only screen and (min-width: 992px) {
    .blog__post--meta {
        font-size: 1.5rem;
    }
}
.blog__post--meta__link {
    color: var(--secondary-color);
}
.blog__post--meta__link:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}
.blog__thumbnail {
    line-height: 1;
}
@media only screen and (max-width: 767px) {
    .blog__thumbnail.mb-30 {
        margin-bottom: 2rem;
    }
}
.blog__tags--social__media {
    padding: 5rem 0;
}
@media only screen and (max-width: 1199px) {
    .blog__tags--social__media {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
@media only screen and (max-width: 1199px) {
    .blog__tags--media {
        margin-bottom: 2rem;
    }
}
@media only screen and (max-width: 575px) {
    .blog__tags--media {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
.blog__tags--media__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 1rem;
}
@media only screen and (min-width: 992px) {
    .blog__tags--media__title {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 575px) {
    .blog__tags--media__title {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
.blog__tags--media__list {
    margin-right: 0.7rem;
}
.blog__tags--media__list:last-child {
    margin-right: 0;
}
.blog__tags--media__link {
    border: 1px solid var(--border-color2);
    background: var(--white-color);
    padding: 0.5rem 1.2rem;
    line-height: 2.5rem;
    border-radius: 0.3rem;
    text-transform: capitalize;
}
.blog__tags--media__link:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white-color);
}
@media only screen and (max-width: 575px) {
    .blog__tags--media__link {
        padding: 0.4rem 0.8rem;
        font-size: 1.3rem;
    }
}
.blog__social--media__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 1rem;
}
@media only screen and (min-width: 992px) {
    .blog__social--media__title {
        font-size: 1.6rem;
    }
}
.blog__social--media__list {
    margin-right: 1rem;
}
.blog__social--media__list:last-child {
    margin-right: 0;
}
.blog__social--media__link {
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--secondary-color);
    color: var(--white-color);
    border-radius: 50%;
}
.blog__social--media__link:hover {
    background: var(--primary-color);
    color: var(--white-color);
}
.comment__reply--btn {
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 2.2rem;
    font-size: 1.4rem;
    border: 0;
}
@media only screen and (min-width: 992px) {
    .comment__reply--btn {
        font-size: 1.6rem;
    }
}
.comment__content--topbar {
    margin-bottom: 1rem;
}
.reviews__comment--content__title2 {
    font-weight: 600;
    line-height: 2.2rem;
    margin-bottom: 0.6rem;
    font-size: 1.6rem;
}
@media only screen and (min-width: 992px) {
    .reviews__comment--content__title2 {
        font-size: 1.8rem;
    }
}
.reviews__comment--content__date2 {
    font-size: 1.5rem;
    color: var(--text-gray-color);
}
.reviews__comment--area2.mb-50 {
    margin-bottom: 5rem;
}
@media only screen and (max-width: 575px) {
    .reviews__comment--area2.mb-50 {
        margin-bottom: 4.8rem;
    }
}
.breadcrumb__link {
    font-size: 1.3rem;
    color: var(--secondary-color);
}
.breadcrumb__text {
    color: #737373;
    font-size: 1.3rem;
}
.section__header--title {
    font-size: 1.8rem;
    line-height: 2.2rem;
}
@media only screen and (min-width: 1200px) {
    .section__header--title {
        font-size: 2rem;
        line-height: 2.4rem;
    }
}
@media only screen and (max-width: 575px) {
    .section__header--title {
        margin-bottom: 0.8rem;
    }
}
.section__header--desc {
    margin-top: 0.5rem;
}
@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@keyframes spinner {
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@-webkit-keyframes letters-loading {
    0%,
    100%,
    75% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
    25%,
    50% {
        opacity: 1;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
}
@keyframes letters-loading {
    0%,
    100%,
    75% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
    25%,
    50% {
        opacity: 1;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
}
